body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 250px;
}
.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;

}
.card p {
    font-size: 1em;
    color: #555;
}   
img {
    width: 220px;
    height: auto;
    border-radius: 5px;
}
/* .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
} */
/* .button:hover {
    background-color: #0056b3;
} */
 .student {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    max-width: 300px;
}
.welcome-mess {
    font-size: 1.2em;
    color: #ece3e3;
    background-color: rgb(28, 55, 38);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
}
.login-prompt {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}
.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}